<h1 align="center">Github Status</h1>
<div class="container">
  <div class="row">
    <div class="col" align="right" style="padding-bottom: 20px">
      <button (click)="refresh()" type="button" class="btn btn-primary">Atualizar</button>
    </div>
  </div>
</div>

<div class="container" *ngFor="let obj of objetos">
  <div class="row" style="padding:2%; background-color: rgb(235, 235, 235);">
    <div class="col" style="width: 80%;">
      {{obj.titulo}}
    </div>
    <div class="col col-lg-2" align="right" *ngIf="color === 1">
      <button type="button" class="btn btn-success" style="cursor: auto;">{{obj.status}}</button>
    </div>
    <div class="col col-lg-2" align="right" *ngIf="color === 0">
      <button type="button" class="btn btn-danger">{{obj.status}}</button>
    </div>
  </div>
  <br>
</div>

<div id="dloading" *ngIf="objetos.length === 0">
  <br><br>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
  <br>
</div>